@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.section-center {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.section-center::before {
  content: "";
  /* color: white; */
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(53, 51, 51, 0.5);
  width: 100vw;
  height: 100vh;
  display: block;
}

.center {
  width: 20rem;
  height: 35rem;
  background: rgba(255, 255, 255, 0.185);
  /* border: 1px solid yellow; */
  z-index: 1;
  transition: all 0.3s linear;
}

.header {
  background: rgba(0, 0, 0, 0.295);
  margin-top: 0.5rem;
  text-align: center;
  padding: 0.5rem 0;
  /* border: 1px solid blue; */
}

.header h4 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: rgba(255, 255, 255, 0.562);
  margin-bottom: 0.5rem;
}

.header h1 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: rgb(255, 255, 255);
  text-transform: capitalize;
}

.weather-section {
  /* border: 1px solid red; */
  width: 100%;
  height: calc(100% - 79px - 1rem);
  display: flex;
  align-items: center;
  justify-content: space-around;

  flex-direction: column;
}

.weather-section .current-weather {
  /* border: 1px solid red; */
  /* margin-top: 1rem; */
  text-align: center;
}

.weather-section .current-weather svg {
  font-size: 10rem;
  color: rgb(255, 255, 255);
  margin-bottom: 2rem;
}
.weather-section .current-weather p {
  font-size: 0.9rem;
  color: rgba(0, 0, 0, 0.767);
  font-weight: bold;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.weather-section .days-weather {
  /* border: 1px solid red; */
  /* margin-bottom: 1rem; */
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.weather-section .days-weather div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.weather-section .days-weather div p {
  /* color: rgb(241, 225, 225); */
  font-size: 0.8rem;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
}

.weather-section .days-weather div svg {
  font-size: 2rem;
  color: rgb(189, 172, 172);
  margin: 0.7rem 0;
}

@media screen and (min-width: 900px) {
  .center {
    width: 25rem;
  }
}

/* form container */

.form-container {
  /* border: 1px solid red; */
  margin-top: 0.5rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.weather-form {
  height: 100%;
  width: 100%;
  text-align: center;
}
.weather-form input {
  height: 100%;
  width: 80%;
  border: 2px solid black;
  border-radius: 6px;
  padding: 0.3rem 0.5rem;
  text-transform: capitalize;
  font-family: Georgia, "Times New Roman", Times, serif;
  background: transparent;
  color: white;
}

.weather-form input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.63);
}

.error-message {
  text-transform: capitalize;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-align: center;
  margin-top: 10rem;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;

  /* margin: 10rem auto; */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.copy {
  color: rgba(255, 255, 255, 0.527);
  position: absolute;
  bottom: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8rem;
  font-style: italic;
}
